@keyframes ascendFromRight {
  0% {
    transform: translate(50%);
  }100%{
    transform: translate(0%);
  }
}

#gestor-modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
  justify-content: flex-end;
  align-items: center;
}

#gestor-content {
  background: #111266;
  background-image: linear-gradient(to right, #111266, #2022a3);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 75vh;
  width: 50vw;
  position: relative;
  animation: ascendFromRight ease-in 0.4s;
}

#gestor-content > button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

#gestor-content > h1 {
  color: white;
  position: absolute;
  top: 25px;
  font-weight: normal;
}

#gestor-content > form {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#gestor-content > form > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

#gestor-content > form > div input,select {
  width: 180px;
  height: 30px;
  text-indent: 15px;
  border: 0px;
}

#gestor-content > form > div label {
  background: #5557c9;
  text-align: center;
  height: 30px;
  color: white;
  width: 100px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gestor-content > form > div input:focus {
  transition: all 0.3s;
  outline: 0px;
}

#gestor-content > form > button {
  height: 45px;
  margin: auto;
  width: 200px;
  grid-area: 6/1/6/3;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  background: #2eda4b;
  color: white;
  font-size: 1.3rem;
}